* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  background: url("https://wallpapertag.com/wallpaper/full/a/9/f/690556-blue-background-image-2880x1800-for-htc.jpg");
}

h2 {
  color: #fff;
  font-weight: normal;
  font-size: 2em;
  margin-top: 3em;
  margin-bottom: 1em;
  text-align: center;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.container {
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 50px;
}
form {
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 400px;
  text-align: left;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid #c1c0b9;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  font-size: 1.2em;
  background-color: #f5f5f5;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
input[type="submit"] {
  background-color: #407088;
  color: #fff;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.7s;
}
input[type="submit"]:hover {
  background: #235784;
}

button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  color: #800080;
  border: none;
  background: transparent;
  cursor: pointer;
}
.button:hover {
  background-color: #0056b3;
}