@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #09203f;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: #09203f;
  overflow: hidden;
  height: 50px; /* altura desejada */
}
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px; /* tamanho de fonte desejado */
  max-height: 50px; /* altura máxima do texto */
  overflow: hidden; /* ocultar qualquer texto que extrapole a altura máxima */
}
.navbar a:hover {
  background-color: #235784;
  color: #ddd;
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer a {
  color: #fff;
  text-decoration: none;
}

.alert {
  position: fixed;
  top: 55px;
  right: 20px;
  background-color: #ff3333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
}
.success {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #00cc00;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
}
